/* BookList.css */

.book-list-container {
    margin: 20px;
  }
  
  .book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .book-table th, .book-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .book-table th {
    background-color: #f2f2f2;
  }
  h2{
    margin: 0 auto;
  }

  .btn-con a :link, :visited {
    display: flex;
    justify-content: space-between;
    color: #000000;
    text-decoration: none;
  }
  