/* BookList.css */

.book-list-container {
    margin: 20px;
  }
  
  .book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .book-table th, .book-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .book-table th {
    background-color: #f2f2f2;
  }
  a {
    color: #000000;
    text-decoration: none;
}

.btn-con{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}